:root {
    --background: #F6F6F6;
    --darkBlue: #07113D;
    --lightBlue: #5F7BCD;
}

* { 
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--lightBlue);
    font-family: 'Poppins', sans-serif;

    gap: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

main {
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 4rem; 

    background-color: white;
    width: 700px;
    padding: 5rem 2rem;

    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.493);
}
      
main > div > h1 {
    font-size: 2.7rem;
    color: var(--lightBlue);
    text-transform: uppercase;

    margin: 0 0 3rem 0;
}

h2 {
    color: var(--lightBlue);
    text-transform: uppercase;
    margin: 2.2rem 0;
    font-size: 1.5rem;
    border-bottom: 4px solid var(--lightBlue);
    padding-bottom: 1rem;
}

ul {
  list-style: none;
}

.icon div {
    display: flex;
    gap: .7rem;
    align-items: center;
    margin: .4rem;
}

#print {
    background: white;
    padding: .5rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    color: var(--lightBlue);
    font-weight: 700;
}

#print:hover {
    color: rgba(0, 0, 0, 0.692);
}
